<a href="https://colab.research.google.com/github/Shambhavi-Gupta/DS_Working-with-Nifty50-Datasets/blob/master/Working_with_Nifty50_Datasets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
nifty50_2018 = pd.read_csv('NIFTY50_2018.csv')

In [ ]:
nifty50_2018.head()

          Date      Open      High       Low     Close
0  31 Dec 2018  10913.20  10923.55  10853.20  10862.55
1  28 Dec 2018  10820.95  10893.60  10817.15  10859.90
2  27 Dec 2018  10817.90  10834.20  10764.45  10779.80
3  26 Dec 2018  10635.45  10747.50  10534.55  10729.85
4  24 Dec 2018  10780.90  10782.30  10649.25  10663.50

In [ ]:
nifty50_2018 = pd.read_csv('NIFTY50_2018.csv' , index_col =0)

In [ ]:
nifty50_2018.head()

                 Open      High       Low     Close
Date
31 Dec 2018  10913.20  10923.55  10853.20  10862.55
28 Dec 2018  10820.95  10893.60  10817.15  10859.90
27 Dec 2018  10817.90  10834.20  10764.45  10779.80
26 Dec 2018  10635.45  10747.50  10534.55  10729.85
24 Dec 2018  10780.90  10782.30  10649.25  10663.50

In [ ]:
nifty50_2018.loc['31 Dec 2018']

Open     10913.20
High     10923.55
Low      10853.20
Close    10862.55
Name: 31 Dec 2018, dtype: float64

In [ ]:
nifty50_2018['Open']

Date
31 Dec 2018    10913.20
28 Dec 2018    10820.95
27 Dec 2018    10817.90
26 Dec 2018    10635.45
24 Dec 2018    10780.90
                 ...
05 Jan 2018    10534.25
04 Jan 2018    10469.40
03 Jan 2018    10482.65
02 Jan 2018    10477.55
01 Jan 2018    10531.70
Name: Open, Length: 246, dtype: float64

In [ ]:
nifty50_2019 = pd.read_csv('NIFTY50_2019.csv' , index_col =0)

In [ ]:
nifty50_2019.head()

                 Open      High       Low     Close
Date
31 Dec 2019  12247.10  12247.10  12151.80  12168.45
30 Dec 2019  12274.90  12286.45  12213.80  12255.85
27 Dec 2019  12172.90  12258.45  12157.90  12245.80
26 Dec 2019  12211.85  12221.55  12118.85  12126.55
24 Dec 2019  12269.25  12283.70  12202.10  12214.55

In [ ]:
print(nifty50_2018.shape , nifty50_2019.shape)

(246, 4) (245, 4)

In [ ]:
nifty50 = pd.concat([nifty50_2018 , nifty50_2019])

In [ ]:
nifty50.shape

(491, 4)

In [ ]:
niftynext50_2019 = pd.read_csv('NIFTYNext50_2019.csv' , index_col = 0)

In [ ]:
niftynext50_2019.head()

                 Open      High       Low     Close
Date
31 Dec 2019  28495.00  28549.50  28270.25  28307.55
30 Dec 2019  28528.95  28612.95  28406.70  28484.85
27 Dec 2019  28354.50  28500.25  28319.90  28476.80
26 Dec 2019  28409.10  28435.25  28259.75  28280.25
24 Dec 2019  28423.70  28430.40  28318.75  28382.85

In [ ]:
nifty_2019 = pd.concat([nifty50_2019 , niftynext50_2019], axis =1)

In [ ]:
nifty_2019.head()

                 Open      High       Low  ...      High       Low     Close
Date                                       ...
31 Dec 2019  12247.10  12247.10  12151.80  ...  28549.50  28270.25  28307.55
30 Dec 2019  12274.90  12286.45  12213.80  ...  28612.95  28406.70  28484.85
27 Dec 2019  12172.90  12258.45  12157.90  ...  28500.25  28319.90  28476.80
26 Dec 2019  12211.85  12221.55  12118.85  ...  28435.25  28259.75  28280.25
24 Dec 2019  12269.25  12283.70  12202.10  ...  28430.40  28318.75  28382.85

[5 rows x 8 columns]

In [ ]:
nifty_2019.shape

(245, 8)

In [ ]:
nifty_2019 = pd.concat([nifty50_2019 , niftynext50_2019], axis =1 ,
                       keys=['nifty50', 'niiftynext50'])

In [ ]:
nifty_2019.shape

(245, 8)

In [ ]:
nifty_2019.head()

              nifty50                      ... niiftynext50
                 Open      High       Low  ...         High       Low     Close
Date                                       ...
31 Dec 2019  12247.10  12247.10  12151.80  ...     28549.50  28270.25  28307.55
30 Dec 2019  12274.90  12286.45  12213.80  ...     28612.95  28406.70  28484.85
27 Dec 2019  12172.90  12258.45  12157.90  ...     28500.25  28319.90  28476.80
26 Dec 2019  12211.85  12221.55  12118.85  ...     28435.25  28259.75  28280.25
24 Dec 2019  12269.25  12283.70  12202.10  ...     28430.40  28318.75  28382.85

[5 rows x 8 columns]

In [ ]:
nifty_2019['nifty50'].loc['31 Dec 2019']

Open     12247.10
High     12247.10
Low      12151.80
Close    12168.45
Name: 31 Dec 2019, dtype: float64